* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d1d23;
  color: #f8f8ff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
